<body>
		<h1>Lindsay Frances Higgins</h1>
			<p><b>Lindsay Frances Higgins</b> (born July 16, 1989), is a Business analyst at Guardian Life Insurance Company, in New York, NY. She is currently taking a Web Development 100 at <span id="nycda"><a href="http://www.nycda.com/" target="_blank">New York Code + Design Academy</a></span>.</p>

			<ul><b><span class="uppercase">Contents</span></b>
				<li><a href="#Early Years">Early Years</a></li>
				<li><a href="#College">College</li>
				<li><a href="#Personal Life">Personal Life</li>
			</ul>

		<h2>
			
			<a name="Early Years"></a><span class="grey">Early Years
			</span>
		</h2>
			<p>Lindsay was born in New York City, NY, the daughter of Frank, who works in finance, and Carol Higgins, a realator. She was raised in New Rochelle, New York, a suburb of New York City.</p>
			<p><span class="yellowtext">Lindsay </span> is the <span class="yellowtext"> youngest </span> of 3 children. She has twin brothers, Owen and Brendan Higgins.</p> 
			
			<figure>
				<img src="photo.JPG" alt="Brendan, Lindsay, and Owen" style="width:280px;height:280px">
				<figcaption>Brendan, Lindsay, and Owen, 1992.</figcaption>
			</figure>

		<h2><a name="College"></a><span class=grey> College</span></h2>
			<p>Lindsay went to <a href="http://www.jmu.edu/" target="_blank">James Madison University</a>, located in Harrisonburg, Virginia. She graduated in 2011 with a Bachelor of Business Administration in Marketing. While at JMU she was a member of Alpha Kappa Psi and studied abroad in Antwerp, Belgium</p>
			<a href="http://www.jmu.edu/" target="_blank">
				<img src="http://2.bp.blogspot.com/-Iui5XXWJdMw/T57RAieD1qI/AAAAAAAAEVM/bMbI6QS872M/s320/jmu%2Bcrest.jpg" alt="JMU Logo" style="width:125px;height:125">
			</a>

		<h2><a name="Personal Life"></a><span class="grey">Personal Life</span></h2>
			<p>Lindsay resides in the Upper East Side of Manhattan with her long time friend Hanah Wade.</p>
			<p> This summer she combined her passions for soccer and traveling by vacationing in <a href="rio" target="_blank">Rio De Janeiro</a> during the World Cup. Her and her boyfriend were fortunate enough to watch two games in the wold famous Maracana Stadium.</p> 

	</body>
</html>